.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom range slider styling */
input[type="range"].range-slider {
  -webkit-appearance: none; /* For Chrome, Safari, and Opera */
  appearance: none;
  width: 100%;
  height: 6px;
  background: #FEBAFF; /* Pink background for the track */
  border-radius: 3px;
  outline: none;
  transition: opacity .2s;
}

input[type="range"].range-slider:hover {
  opacity: 1;
}

input[type="range"].range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default thumb */
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFFFFF; /* Same color as the button text */
  cursor: pointer;
}

input[type="range"].range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFFFFF; /* Same color as the button text */
  cursor: pointer;
}